<h2>Login</h2>

<body>
<div class="logins"></div>
<form class="forming" method="POST" action="/auth/login">
    <label for="auth-email">Email</label>
    <input type="email" id="auth-email" name="email">

    <label for="auth-password">Password</label>
    <input type="password" id="auth-password" name="password">

    <input type="submit" value="Log In">
</form>
</div>
</body>

<style>
    body{
        background-image: url("../img/arm.jpg");
       
    }
    .logins {
      display: table;
      width: 100%;
      text-align: center;
      height: 100%;
    }
    .forming {
        width: 200px;
        border: 15px solid grey;
        margin-top: 200px;
        margin-left: 550px;
        background-color: grey;
    }
   h2{
       text-align: center;
   }
    </style>