<h1>CTA template</h1>

<!-- <section id="gigs" class="container">
    <h1>Current Action Alerts!</h1>
    <% calls.forEach(calls=>{ %>
    <div class="gig">
      <h3><%= calls.title %> </h3>
      <p><%= calls.description %></p>
      <ul>
        <li>Contact Email:<%= calls.conact_email %></li>
        <li>Contact Phone:<%= calls.contact_phone %></li>
        <li><a href="#" class="btn btn-reverse">Apply Now</a></li>
      </ul>
      <div class="tech">
        <small></span></small>
      </div>
    </div>
    <% }) %> 
  </section>
 
</body>

</html> -->

<section id="gigs" class="container">
    <h1>Current Action Alerts</h1>
    <div class="gig">
      <h3>House Resolution 1165</h3>
      <p>House Resolution 1165 Is the house resolution that is imperative in helping the armenian people of artsakh. Currently House minority leader Kebin McCarthy is blocking this bill. Call him today and let your voice be heard!</p>
      <ul>
        <li>Contact Email: RepMccarthy@us.gov</li>
        <li>Contact Phone: 555-555-5555</li>
        <li><a href="#" class="btn btn-reverse">More Info</a></li>
      </ul>
      <div class="tech">
        <small>Contact Phone: <span>react, redux, javascript</span></small>
      </div>
    </div>

    
        <div class="gig">
          <h3>House Resolution 1165</h3>
          <p>House Resolution 1165 Is the house resolution that is imperative in helping the armenian people of artsakh. Currently House minority leader Kebin McCarthy is blocking this bill. Call him today and let your voice be heard!</p>
          <ul>
            <li>Contact Email: RepMccarthy@us.gov</li>
            <li>Contact Phone: 555-555-5555</li>
            <li><a href="#" class="btn btn-reverse">More Info</a></li>
          </ul>
          <div class="tech">
            <small>Contact Phone: <span>react, redux, javascript</span></small>
          </div>
        </div>

    
    </div>
  </section>
</body>

</html>