<h1>CTA template</h1>

<section id="gigs" class="container">
    <h1>Current Action Alerts!</h1>
    <div class="gig">
      <h3>Looking for a react developer</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero aspernatur tempora nisi quibusdam doloribus
        adipisci cumque quidem perferendis. Iusto, natus!</p>
      <ul>
        <li>: $10,000</li>
        <li><a href="#" class="btn btn-reverse">Apply Now</a></li>
      </ul>
      <div class="tech">
        <small></span></small>
      </div>
    </div>

  </section>
</body>

</html>