<h2>             By the Diaspora, For The Diaspora</h2>
<h3>             Search through our library of action items that need your assistance!</h3>


<section id="search" class="search-wrap">
    <h1>Find a an article</h1>
    <form action="/news" class="search-form">
      <i class="fas fa-search"></i>
      <input type="search" name="term" placeholder="HR 1165, protests, events, etc...">
      <input type="submit" value="Search">
    </form>
  </section>


  <style>
    h2 {
      text-align: center;
      margin-top: 3;
    }
    h3 {
      text-align: center;
      margin-top: 3;
    }
    </style>
    