<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
    crossorigin="anonymous">


  <link rel="stylesheet" href="/css/style.css">
    <title>HOOL</title>
</head>
<body>
    <header class="inner">
        <h2><a href="/"><i class="fas fa-code"></i>
            HOOL</a></h2>
        <nav>
            <ul>
                <% if (!currentUser) {%>
                    <li><a href="/auth/signup">Sign Up</a></li>
                    <li><a href="/auth/login">Log In</a></li>
                    <li><a href="/">Home</a></li>
                    <li><a href="/news">News</a></li>
                <% } else { %>
                    <li><a href="/auth/logout">Log Out</a></li>
                    <li><a href="/profile">Profile</a></li>
                    <li><a href="/ctas">Take Action</a></li>
                    <li><a href="/ctas/add">Add Action Item</a></li>
                    <li><a href="/news">News</a></li>
                <% } %> 
            </ul>
        </nav>
    </header>
    <%- include('partials/alerts.ejs') %> 
    <%- body %>
</body>
</html>