<h2><%= currentUser.name %>'s Current Action Item </h2>


<h3>Call Kevin Mccarthy Today </h3>

<p> House Resolution 1165 is the mainstay legislation for helping Armenia end the war. HR 1165 in its current form, is being blocked by house minority leader Kevin McCarthy. This house resolution is imperative to stopping the war and putting an end to US military aid for Azerbaijan. Take action now and help this resolution get to the hit the congressional floor.</p>

<h3>Phone Number 555-555-5555</h3>
<h3>Contact Email Kevin@us.gov</h3>

<style>
    h2 {
      text-align: center;
      margin-top: 3;
    }
    h3 {
      text-align: center;
      margin-top: 3;
    }
    p {
      text-align: center;
      margin-top: 3;
    }
</style>