

        <h1>Call To Action:</h1>


<h3><%= callCard.title %> </h3>
      <p><%= callCard.description %></p>
     
        <li>Contact Email:<%= callCard.conact_email %></li>
        <li>Contact Phone:<%= callCard.contact_phone %></li>
        
        
        
        
      